body {  /*style du corps de la page*/
    background-color: white; /*fond blanc*/
    max-width: 1200px; /*largeur max 1200px*/
    margin: 0 auto; /*centre de la page*/
}
h1 {  /*style du titre*/
    text-align : center; /*centre le texte*/
    font-size: 60px; /*taille 60px*/
    font-family: Georgia; /*police Georgia*/
}

.decription {  /*style description*/
    font-size: 16px; /*taille 16px*/
    font-style: italic; /*italique*/
}

.header, .nav, .content, .aside, .footer {  /*styles commun*/
    padding: 20px; /*espace interieur*/
    margin: 10px; /*marge*/
    border: 1px solid black; /*borudre noir*/
}

.header {  /*en-tete*/
    height: 300px; /*hauteur 300px*/
    background-image: url("images/sixteen-miles.png"); /*image de fond*/
    align-content: center; /* centre contenu*/
}

.nav td {  /*style des cellules*/
    padding: 20px; /*remplissage*/
    margin-left: 50px; /*marge gauche*/
    margin-right: 50px; /*marge droite*/
    border: 1px solid black; /*cote noir*/
    color: blue; /*couleur bleu*/
}

ul {  /*liste sans puces*/
    list-style: none;
}

.liste-bougies img {  /*image largeur 200px*/
    width: 200px;
}

.lien-menu {  /*menu aligne*/
    display: flex;  
    gap: 2rem;
    align-items: center;  /* L46 a L48 centre les elements*/
}

.lien-item {  /*style des liens*/
    display: inline-block; /*affichage*/
    color: #d4a574; /*couleur*/
    margin-bottom: 2rem; /*marge*/
    font-weight: 500; /*taille*/
    text-decoration: none; /*texte*/
}
