body {
    background-color: white;
}
h1 { 
    text-align : center;
}

.decription {
    font-size: 16px;
    font-style: italic;
}

.header, .nav, .content, .aside, .footer {
    padding: 20px;
    margin: 10px;
    border: 1px solid black;
}

.nav td {
    padding: 20px;
    margin-left: 50px;
    margin-right: 50px;
    border: 1px solid black;
}
